---
title: "New regions and networks: Firebase Phone Number Verification adds more networks"
url: "https://firebase.blog/posts/2026/09/firebase-pnv-more-networks"
date: "2026-09-28"
feed_url: "https://firebase.blog/rss.xml"
---

